/*Media*/
/* Colors: */
/*Fonts*/
/* Main Colors */
/* Screen sizes */
/* Character Styles */
h1 {
  font-size: 4.1rem;
  font-weight: 700;
  line-height: 4.4rem;
  color: #1C1C24;
  letter-spacing: -1.56px;
  padding-bottom: 1.7rem; }
  @media (min-width: 960px) {
    h1 {
      font-size: 10rem;
      line-height: 11.9rem;
      letter-spacing: -3.8px;
      padding-bottom: 2.27rem; } }
  @media (min-width: 1240px) {
    h1 {
      font-size: 10rem;
      line-height: 11.9rem;
      letter-spacing: -3.8px; } }

h2 {
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 2.9rem;
  color: #7C7C7C;
  letter-spacing: -0.36px; }
  @media (min-width: 960px) {
    h2 {
      font-size: 2.6rem;
      line-height: 3.7rem;
      letter-spacing: -0.55px; } }

h3 {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 3.9rem; }
  @media (min-width: 960px) {
    h3 {
      font-size: 4.1rem;
      line-height: 4.7rem; } }
  @media (min-width: 1240px) {
    h3 {
      font-size: 4.8rem;
      line-height: 5.5rem; } }

h4 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3.9rem; }
  @media (min-width: 960px) {
    h4 {
      font-size: 3.5rem;
      line-height: 4rem; } }
  @media (min-width: 1240px) {
    h4 {
      font-size: 4.2rem;
      line-height: 4.8rem; } }

h5 {
  font-size: 1.1rem;
  color: #66666E;
  font-weight: 400;
  line-height: 1.3rem;
  letter-spacing: -0.4px; }
  @media (min-width: 960px) {
    h5 {
      font-size: 1.7rem;
      line-height: 1.9rem;
      letter-spacing: -0.61px; } }
  @media (min-width: 1240px) {
    h5 {
      font-size: 2rem;
      line-height: 2.3rem;
      letter-spacing: -0.72px; } }

h6 {
  font-size: 1.2rem;
  color: #1C1C24;
  font-weight: 500;
  line-height: 1.7rem;
  margin-bottom: 1.6rem; }
  @media (min-width: 960px) {
    h6 {
      font-size: 1.5rem; } }

p {
  font-size: 1.7rem;
  color: #66666E;
  font-weight: 400;
  line-height: 2.8rem; }
  @media (min-width: 960px) {
    p {
      font-size: 1.6rem;
      line-height: 2.9rem; } }
  @media (min-width: 1240px) {
    p {
      font-size: 2rem; } }

span {
  color: #3558AE; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "GT Walsheim Pro", sans-serif;
  color: #1C1C24; }
  *::-moz-selection {
    color: #fff;
    background: #000; }
  *::selection {
    color: #fff;
    background: #000; }

html {
  font-size: 62.5%;
  width: 100vw; }

body {
  overflow: hidden;
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: 1.4;
  position: relative; }

/*Layout*/
.wrapper,
#cookies-message-container {
  padding: 0 2.7rem 5.4rem 2.7rem; }
  @media (min-width: 960px) {
    .wrapper,
    #cookies-message-container {
      padding-left: -webkit-calc(50% - 45rem);
      padding-left: -moz-calc(50% - 45rem);
      padding-left: calc(50% - 45rem);
      padding-right: -webkit-calc(50% - 45rem);
      padding-right: -moz-calc(50% - 45rem);
      padding-right: calc(50% - 45rem); } }
  @media (min-width: 1240px) {
    .wrapper,
    #cookies-message-container {
      padding-left: -webkit-calc(50% - 55rem);
      padding-left: -moz-calc(50% - 55rem);
      padding-left: calc(50% - 55rem);
      padding-right: -webkit-calc(50% - 55rem);
      padding-right: -moz-calc(50% - 55rem);
      padding-right: calc(50% - 55rem); } }

.container {
  padding: 10rem 0; }
  @media (min-width: 960px) {
    .container {
      padding: 20rem 0; } }

/*Buttons*/
button {
  border: none;
  outline: none;
  cursor: pointer; }

/*List*/
ul li {
  list-style: none;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s; }

/*Link*/
a {
  text-decoration: none; }

@-webkit-keyframes txt-animation {
  0% {
    -webkit-transform: translateY(15%);
            transform: translateY(15%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-moz-keyframes txt-animation {
  0% {
    -moz-transform: translateY(15%);
         transform: translateY(15%); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
         transform: translateY(0); } }

@-o-keyframes txt-animation {
  0% {
    -o-transform: translateY(15%);
       transform: translateY(15%); }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
       transform: translateY(0); } }

@keyframes txt-animation {
  0% {
    -webkit-transform: translateY(15%);
       -moz-transform: translateY(15%);
         -o-transform: translateY(15%);
            transform: translateY(15%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes cookie-animation {
  0% {
    left: -100%; }
  100% {
    opacity: 1;
    left: 0; } }

@-moz-keyframes cookie-animation {
  0% {
    left: -100%; }
  100% {
    opacity: 1;
    left: 0; } }

@-o-keyframes cookie-animation {
  0% {
    left: -100%; }
  100% {
    opacity: 1;
    left: 0; } }

@keyframes cookie-animation {
  0% {
    left: -100%; }
  100% {
    opacity: 1;
    left: 0; } }

@-webkit-keyframes scroll-icon {
  0% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    opacity: 0; }
  30%, 70% {
    opacity: 1; }
  100% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 0; } }

@-moz-keyframes scroll-icon {
  0% {
    -moz-transform: translateY(-12px);
         transform: translateY(-12px);
    opacity: 0; }
  30%, 70% {
    opacity: 1; }
  100% {
    -moz-transform: translateY(12px);
         transform: translateY(12px);
    opacity: 0; } }

@-o-keyframes scroll-icon {
  0% {
    -o-transform: translateY(-12px);
       transform: translateY(-12px);
    opacity: 0; }
  30%, 70% {
    opacity: 1; }
  100% {
    -o-transform: translateY(12px);
       transform: translateY(12px);
    opacity: 0; } }

@keyframes scroll-icon {
  0% {
    -webkit-transform: translateY(-12px);
       -moz-transform: translateY(-12px);
         -o-transform: translateY(-12px);
            transform: translateY(-12px);
    opacity: 0; }
  30%, 70% {
    opacity: 1; }
  100% {
    -webkit-transform: translateY(12px);
       -moz-transform: translateY(12px);
         -o-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 0; } }

.menu {
  position: relative;
  height: 8rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .menu__logo {
    color: #1C1C24;
    font-size: 1.5rem;
    font-weight: 500; }
  .menu__navbar {
    padding: 0 2.7rem 5.4rem 2.7rem;
    position: fixed;
    top: 7rem;
    right: -110%;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.6s cubic-bezier(0.65, 0.05, 0.36, 1);
    -o-transition: all 0.6s cubic-bezier(0.65, 0.05, 0.36, 1);
    -moz-transition: all 0.6s cubic-bezier(0.65, 0.05, 0.36, 1);
    transition: all 0.6s cubic-bezier(0.65, 0.05, 0.36, 1); }
    @media (min-width: 960px) {
      .menu__navbar {
        display: block;
        position: static;
        right: 0;
        height: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
           -moz-box-orient: horizontal;
           -moz-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        padding: 0;
        -webkit-transition: none;
        -o-transition: none;
        -moz-transition: none;
        transition: none; } }
    .menu__navbar ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      @media (min-width: 960px) {
        .menu__navbar ul {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
             -moz-box-orient: horizontal;
             -moz-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: end;
          -webkit-justify-content: flex-end;
             -moz-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          height: 100%;
          -webkit-box-align: center;
          -webkit-align-items: center;
             -moz-box-align: center;
              -ms-flex-align: center;
                  align-items: center; } }
      .menu__navbar ul li {
        font-size: 4.1rem;
        font-weight: 500; }
        @media (min-width: 960px) {
          .menu__navbar ul li {
            font-size: 1.5rem;
            margin: 0 1.7rem; } }
        @media (min-width: 1240px) {
          .menu__navbar ul li {
            font-size: 1.5rem;
            margin: 0 2.5rem; } }
        .menu__navbar ul li a {
          font-weight: 700; }
    .menu__navbar--contact {
      margin-top: 3rem; }
      @media (min-width: 960px) {
        .menu__navbar--contact {
          display: none; } }
      .menu__navbar--contact a {
        color: #3558AE;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.9rem;
        letter-spacing: -0.68px; }
  .menu__navbar.active {
    right: 0; }

/*HAMBURGER*/
.button {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 1.5;
  cursor: pointer; }
  @media (min-width: 960px) {
    .button {
      display: none; } }
  .button svg {
    stroke: #1C1C24;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s; }
    .button svg g:first-child {
      opacity: 1;
      -webkit-transition: opacity 0s 0.2s;
      -o-transition: opacity 0s 0.2s;
      -moz-transition: opacity 0s 0.2s;
      transition: opacity 0s 0.2s; }
      .button svg g:first-child line {
        -webkit-transition: -webkit-transform 0.2s 0.2s;
        transition: -webkit-transform 0.2s 0.2s;
        -o-transition: -o-transform 0.2s 0.2s;
        -moz-transition: transform 0.2s 0.2s, -moz-transform 0.2s 0.2s;
        transition: transform 0.2s 0.2s;
        transition: transform 0.2s 0.2s, -webkit-transform 0.2s 0.2s, -moz-transform 0.2s 0.2s, -o-transform 0.2s 0.2s;
        -webkit-transform: translateY(0px);
           -moz-transform: translateY(0px);
            -ms-transform: translateY(0px);
             -o-transform: translateY(0px);
                transform: translateY(0px); }
    .button svg g:last-child {
      opacity: 0;
      -webkit-transition: opacity 0s 0.2s;
      -o-transition: opacity 0s 0.2s;
      -moz-transition: opacity 0s 0.2s;
      transition: opacity 0s 0.2s; }
      .button svg g:last-child line {
        -webkit-transition: -webkit-transform 0.2s;
        transition: -webkit-transform 0.2s;
        -o-transition: -o-transform 0.2s;
        -moz-transition: transform 0.2s, -moz-transform 0.2s;
        transition: transform 0.2s;
        transition: transform 0.2s, -webkit-transform 0.2s, -moz-transform 0.2s, -o-transform 0.2s;
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-transform-origin: center;
           -moz-transform-origin: center;
            -ms-transform-origin: center;
             -o-transform-origin: center;
                transform-origin: center; }

.button.-menu-open svg {
  stroke: #3558AE; }
  .button.-menu-open svg g:first-child {
    opacity: 0; }
    .button.-menu-open svg g:first-child line {
      -webkit-transition: -webkit-transform 0.2s;
      transition: -webkit-transform 0.2s;
      -o-transition: -o-transform 0.2s;
      -moz-transition: transform 0.2s, -moz-transform 0.2s;
      transition: transform 0.2s;
      transition: transform 0.2s, -webkit-transform 0.2s, -moz-transform 0.2s, -o-transform 0.2s; }
      .button.-menu-open svg g:first-child line:first-child {
        -webkit-transform: translateY(7px);
           -moz-transform: translateY(7px);
            -ms-transform: translateY(7px);
             -o-transform: translateY(7px);
                transform: translateY(7px); }
      .button.-menu-open svg g:first-child line:last-child {
        -webkit-transform: translateY(-7px);
           -moz-transform: translateY(-7px);
            -ms-transform: translateY(-7px);
             -o-transform: translateY(-7px);
                transform: translateY(-7px); }
  .button.-menu-open svg g:last-child {
    opacity: 1; }
    .button.-menu-open svg g:last-child line {
      -webkit-transition: -webkit-transform 0.2s 0.2s;
      transition: -webkit-transform 0.2s 0.2s;
      -o-transition: -o-transform 0.2s 0.2s;
      -moz-transition: transform 0.2s 0.2s, -moz-transform 0.2s 0.2s;
      transition: transform 0.2s 0.2s;
      transition: transform 0.2s 0.2s, -webkit-transform 0.2s 0.2s, -moz-transform 0.2s 0.2s, -o-transform 0.2s 0.2s; }
      .button.-menu-open svg g:last-child line:first-child {
        -webkit-transform: rotate(45deg);
           -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
             -o-transform: rotate(45deg);
                transform: rotate(45deg); }
      .button.-menu-open svg g:last-child line:last-child {
        -webkit-transform: rotate(-45deg);
           -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
             -o-transform: rotate(-45deg);
                transform: rotate(-45deg); }

.header {
  position: relative;
  height: -webkit-calc(100vh - 7rem);
  height: -moz-calc(100vh - 7rem);
  height: calc(100vh - 7rem);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .header h2 {
    font-weight: 400; }
  .header__scroll {
    position: absolute;
    bottom: 2rem;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__scroll p {
      font-size: 1.5rem;
      color: #1C1C24; }

.scroll-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2em;
  width: 1.2em;
  margin-right: 1rem;
  font-size: 22px;
  color: rgba(53, 88, 174, 0.5);
  -webkit-border-radius: 2em;
     -moz-border-radius: 2em;
          border-radius: 2em;
  border: solid 2px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  -moz-transition: .4s;
  transition: .4s; }

.scroll-icon:hover {
  background-color: rgba(53, 88, 174, 0.05);
  color: #3558AE; }

.scroll-icon::after {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #3558AE;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -webkit-animation: scroll-icon 2.2s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
     -moz-animation: scroll-icon 2.2s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
       -o-animation: scroll-icon 2.2s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
          animation: scroll-icon 2.2s infinite cubic-bezier(0.65, 0.05, 0.36, 1); }

.about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 1rem; }
  @media (min-width: 960px) {
    .about__description {
      -webkit-flex-basis: -webkit-calc(50% - 1rem);
          -ms-flex-preferred-size: calc(50% - 1rem);
              flex-basis: -moz-calc(50% - 1rem);
              flex-basis: calc(50% - 1rem); } }
  .about__description p {
    margin-top: 2.5rem; }
  @media (min-width: 960px) {
    .about__img {
      -webkit-flex-basis: -webkit-calc(50% - 1rem);
          -ms-flex-preferred-size: calc(50% - 1rem);
              flex-basis: -moz-calc(50% - 1rem);
              flex-basis: calc(50% - 1rem); } }
  .about__img img {
    max-width: 100%; }

.projects {
  padding-top: 0; }
  .projects__container .projects__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 7rem; }
    .projects__container .projects__menu ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; }
      .projects__container .projects__menu ul li {
        font-size: 1.7rem;
        font-weight: 500;
        margin: 0.8rem; }
        @media (min-width: 960px) {
          .projects__container .projects__menu ul li {
            font-size: 2rem;
            margin: 1.4rem; }
            .projects__container .projects__menu ul li:first-child {
              margin-left: 2.8rem; } }
      .projects__container .projects__menu ul li.active {
        color: #3558AE; }
  .projects__container .projects__gallery {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media (min-width: 768px) {
      .projects__container .projects__gallery {
        gap: 5rem; } }
    .projects__container .projects__gallery .filtr-item {
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%; }
      @media (min-width: 768px) {
        .projects__container .projects__gallery .filtr-item {
          -webkit-flex-basis: -webkit-calc(50% - 2.5rem);
              -ms-flex-preferred-size: calc(50% - 2.5rem);
                  flex-basis: -moz-calc(50% - 2.5rem);
                  flex-basis: calc(50% - 2.5rem);
          width: -webkit-calc(50% - 2.5rem);
          width: -moz-calc(50% - 2.5rem);
          width: calc(50% - 2.5rem); } }
      .projects__container .projects__gallery .filtr-item img {
        max-width: 100%; }

.contact h3 {
  text-align: center;
  display: inline-block; }
  @media (min-width: 768px) {
    .contact h3 {
      text-align: left; } }

.contact__data {
  margin: 3.2rem 0;
  text-align: center;
  color: #1C1C24;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 768px) {
    .contact__data {
      margin: 17rem 0;
      text-align: left;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
         -moz-box-orient: horizontal;
         -moz-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .contact__data p,
  .contact__data a {
    color: #1C1C24;
    font-weight: 500;
    font-size: 2rem;
    display: block;
    line-height: 3rem; }
  .contact__data ul {
    margin: 3.2rem 0; }
    @media (min-width: 960px) {
      .contact__data ul {
        margin: 0; } }
    .contact__data ul li {
      font-size: 2rem;
      line-height: 3rem; }

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (min-width: 768px) {
    .footer {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      height: 7rem; } }
  .footer__list {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 2.2rem; }
    @media (min-width: 768px) {
      .footer__list {
        -webkit-flex-basis: 60%;
            -ms-flex-preferred-size: 60%;
                flex-basis: 60%;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
           -moz-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        margin-bottom: 0; } }
  .footer a {
    font-size: 2rem;
    color: #1C1C24;
    line-height: 2.2rem; }
  .footer__visionmate-link {
    font-weight: 500; }

/*Subpages*/
.contact-page h3 {
  font-size: 4.1rem;
  line-height: 4.4rem;
  letter-spacing: -1.56px;
  margin-bottom: 6rem; }
  @media (min-width: 768px) {
    .contact-page h3 {
      font-size: 9.8rem;
      line-height: 11.2rem;
      letter-spacing: -4.31px;
      margin-bottom: 11rem; } }

.contact-page .main-contact {
  margin-bottom: 12rem; }
  @media (min-width: 768px) {
    .contact-page .main-contact .main-contacts {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .contact-page .main-contact .main-contacts--item {
    margin-bottom: 6rem; }
    .contact-page .main-contact .main-contacts--item p {
      font-size: 1.5rem;
      color: #66666E;
      line-height: 1.7rem;
      font-weight: 500;
      margin-bottom: 1.6rem; }
    .contact-page .main-contact .main-contacts--item a {
      font-size: 2.6rem;
      line-height: 2.9rem;
      font-weight: 500; }
  .contact-page .main-contact .main-contact__map {
    height: 40rem;
    margin-top: 10rem;
    margin-left: -2.7rem;
    width: -webkit-calc(100% + 6.6rem);
    width: -moz-calc(100% + 6.6rem);
    width: calc(100% + 6.6rem); }
    @media (min-width: 960px) {
      .contact-page .main-contact .main-contact__map {
        height: 50rem;
        margin-left: -40rem;
        width: -webkit-calc(100% + 80rem);
        width: -moz-calc(100% + 80rem);
        width: calc(100% + 80rem); } }
    @media (min-width: 1240px) {
      .contact-page .main-contact .main-contact__map {
        height: 60rem;
        margin-left: -55rem;
        width: -webkit-calc(100% + 110rem);
        width: -moz-calc(100% + 110rem);
        width: calc(100% + 110rem); } }

.works .container {
  padding-top: 20rem; }

.services main {
  padding-bottom: 0; }
  .services main .services {
    padding: 6rem 0; }
    @media (min-width: 768px) {
      .services main .services {
        padding: 9.8rem 0; } }
    .services main .services__item {
      margin-bottom: 5rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      @media (min-width: 768px) {
        .services main .services__item {
          margin-bottom: 8rem;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
             -moz-box-orient: horizontal;
             -moz-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; } }
      .services main .services__item h3 {
        -webkit-flex-basis: 30%;
            -ms-flex-preferred-size: 30%;
                flex-basis: 30%;
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0; }
      .services main .services__item--description h4 {
        margin: 2rem 0; }
        @media (min-width: 768px) {
          .services main .services__item--description h4 {
            margin-top: 0; } }

.project .parallax-window {
  min-height: 400px;
  background: transparent; }

.project .project-header {
  padding-bottom: 0; }
  @media (min-width: 960px) {
    .project .project-header h3 {
      font-size: 6.4rem;
      line-height: 7.4rem;
      letter-spacing: -2.94px; } }
  .project .project-header__banner {
    margin-top: 10rem;
    margin-bottom: 15rem;
    margin-left: -2.7rem;
    width: -webkit-calc(100% + 6.6rem);
    width: -moz-calc(100% + 6.6rem);
    width: calc(100% + 6.6rem);
    height: 50vh;
    overflow: hidden; }
    @media (min-width: 960px) {
      .project .project-header__banner {
        height: 50rem;
        margin-left: -40rem;
        width: -webkit-calc(100% + 80rem);
        width: -moz-calc(100% + 80rem);
        width: calc(100% + 80rem); } }
    @media (min-width: 1240px) {
      .project .project-header__banner {
        height: 60rem;
        margin-left: -45rem;
        width: -webkit-calc(100% + 110rem);
        width: -moz-calc(100% + 110rem);
        width: calc(100% + 110rem); } }
    .project .project-header__banner .o-image {
      height: 100%; }
    .project .project-header__banner .c-speed-block_image {
      height: 100%;
      -webkit-background-size: cover;
         -moz-background-size: cover;
              background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
  @media (min-width: 960px) {
    .project .project-header__items {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .project .project-header__items .project-header__item:nth-child(n+2) {
    padding-top: 3rem; }
    @media (min-width: 960px) {
      .project .project-header__items .project-header__item:nth-child(n+2) {
        padding-top: 0; } }
  .project .project-header__items .project-header__item--title {
    color: #1C1C24;
    font-weight: 500;
    font-size: 2rem; }
    @media (min-width: 960px) {
      .project .project-header__items .project-header__item--title {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
           -moz-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
  .project .project-header__items .project-header__item--link-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 3rem; }
    @media (min-width: 960px) {
      .project .project-header__items .project-header__item--link-container {
        padding-top: 0; } }
  .project .project-header__items .project-header__item--link {
    width: 6rem;
    height: 6rem;
    margin-left: 2rem;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background-color: #3558AE;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.project .sample-project__description {
  margin-bottom: 6rem; }
  .project .sample-project__description h2 {
    color: #1C1C24;
    margin-bottom: 2.2rem;
    font-size: 2.6rem; }
    @media (min-width: 960px) {
      .project .sample-project__description h2 {
        font-size: 2.9rem; } }
  .project .sample-project__description p {
    line-height: 2.9rem; }
  .project .sample-project__description:last-child {
    margin: 12rem 0 22rem 0; }

.project .sample-project__gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 50px 50px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .project .sample-project__gallery--img {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
    @media (min-width: 960px) {
      .project .sample-project__gallery--img {
        -webkit-flex-basis: -webkit-calc(50% - 25px);
            -ms-flex-preferred-size: calc(50% - 25px);
                flex-basis: -moz-calc(50% - 25px);
                flex-basis: calc(50% - 25px); } }
    .project .sample-project__gallery--img:nth-child(3) {
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%; }
    .project .sample-project__gallery--img img {
      max-width: 100%; }
  .project .sample-project__gallery--img.toofab:nth-child(1), .project .sample-project__gallery--img.toofab:nth-child(2) {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
  @media (min-width: 960px) {
    .project .sample-project__gallery--img.toofab:nth-child(3) {
      -webkit-flex-basis: -webkit-calc(50% - 25px);
          -ms-flex-preferred-size: calc(50% - 25px);
              flex-basis: -moz-calc(50% - 25px);
              flex-basis: calc(50% - 25px); } }

.about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 1rem; }
  @media (min-width: 960px) {
    .about__description {
      -webkit-flex-basis: -webkit-calc(50% - 1rem);
          -ms-flex-preferred-size: calc(50% - 1rem);
              flex-basis: -moz-calc(50% - 1rem);
              flex-basis: calc(50% - 1rem); } }
  .about__description p {
    margin-top: 2.5rem; }
  @media (min-width: 960px) {
    .about__img {
      -webkit-flex-basis: -webkit-calc(50% - 1rem);
          -ms-flex-preferred-size: calc(50% - 1rem);
              flex-basis: -moz-calc(50% - 1rem);
              flex-basis: calc(50% - 1rem); } }
  .about__img img {
    max-width: 100%; }

/*Animation*/
html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100vh;
  -webkit-transform-origin: center right;
     -moz-transform-origin: center right;
      -ms-transform-origin: center right;
       -o-transform-origin: center right;
          transform-origin: center right;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: opacity 0.3s, -o-transform 0.3s;
  -moz-transition: transform 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s, -moz-transform 0.3s, -o-transform 0.3s;
  opacity: 0; }

.c-scrollbar:hover {
  -webkit-transform: scaleX(1.45);
     -moz-transform: scaleX(1.45);
      -ms-transform: scaleX(1.45);
       -o-transform: scaleX(1.45);
          transform: scaleX(1.45); }

.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
  opacity: 1; }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab; }

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing; }

.c-fixed_wrapper {
  position: relative;
  overflow: hidden; }

.c-fixed_target {
  position: absolute;
  top: -100vh;
  bottom: -100vh;
  right: 0;
  left: 0; }

.c-fixed {
  position: absolute;
  top: -100vh;
  right: 0;
  left: 0;
  height: 100vh;
  -webkit-background-size: contain;
     -moz-background-size: contain;
          background-size: contain;
  background-position: center center;
  opacity: 0.75;
  mix-blend-mode: multiply; }
  html:not(.has-scroll-smooth) .c-fixed {
    top: 0; }

.cb-cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  contain: layout style size;
  pointer-events: none;
  will-change: transform;
  -webkit-transition: opacity 0.3s, color 0.4s;
  -o-transition: opacity 0.3s, color 0.4s;
  -moz-transition: opacity 0.3s, color 0.4s;
  transition: opacity 0.3s, color 0.4s; }
  .cb-cursor:before {
    content: "";
    position: absolute;
    top: -24px;
    left: -24px;
    display: block;
    width: 48px;
    height: 48px;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
        -ms-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
    background: currentColor;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    -webkit-transition: opacity 0.1s, -webkit-transform 0.3s ease-in-out;
    transition: opacity 0.1s, -webkit-transform 0.3s ease-in-out;
    -o-transition: opacity 0.1s, -o-transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out, opacity 0.1s, -moz-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, opacity 0.1s;
    transition: transform 0.3s ease-in-out, opacity 0.1s, -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out, -o-transform 0.3s ease-in-out; }
  .cb-cursor-text {
    position: absolute;
    top: -18px;
    left: -18px;
    width: 36px;
    height: 36px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: scale(0) rotate(10deg);
       -moz-transform: scale(0) rotate(10deg);
        -ms-transform: scale(0) rotate(10deg);
         -o-transform: scale(0) rotate(10deg);
            transform: scale(0) rotate(10deg);
    opacity: 0;
    color: white;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.01em;
    -webkit-transition: opacity 0.4s, -webkit-transform 0.3s;
    transition: opacity 0.4s, -webkit-transform 0.3s;
    -o-transition: opacity 0.4s, -o-transform 0.3s;
    -moz-transition: opacity 0.4s, transform 0.3s, -moz-transform 0.3s;
    transition: opacity 0.4s, transform 0.3s;
    transition: opacity 0.4s, transform 0.3s, -webkit-transform 0.3s, -moz-transform 0.3s, -o-transform 0.3s; }
  @supports (mix-blend-mode: exclusion) {
    .cb-cursor.-exclusion, .cb-cursor.-opaque {
      mix-blend-mode: exclusion; } }
  @supports (mix-blend-mode: exclusion) {
    .cb-cursor.-exclusion:before, .cb-cursor.-opaque:before {
      background: white; } }
  .cb-cursor.-normal, .cb-cursor.-text {
    mix-blend-mode: normal; }
    .cb-cursor.-normal:before, .cb-cursor.-text:before {
      background: currentColor; }
  .cb-cursor.-inverse {
    color: white; }
  .cb-cursor.-visible:before {
    -webkit-transform: scale(0.2);
       -moz-transform: scale(0.2);
        -ms-transform: scale(0.2);
         -o-transform: scale(0.2);
            transform: scale(0.2); }
  .cb-cursor.-visible.-active:before {
    -webkit-transform: scale(0.23);
       -moz-transform: scale(0.23);
        -ms-transform: scale(0.23);
         -o-transform: scale(0.23);
            transform: scale(0.23);
    -webkit-transition-duration: 0.2s;
       -moz-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s; }
  .cb-cursor.-pointer:before {
    -webkit-transform: scale(0.15);
       -moz-transform: scale(0.15);
        -ms-transform: scale(0.15);
         -o-transform: scale(0.15);
            transform: scale(0.15); }
  .cb-cursor.-text:before {
    opacity: 0.85;
    -webkit-transform: scale(1.7);
       -moz-transform: scale(1.7);
        -ms-transform: scale(1.7);
         -o-transform: scale(1.7);
            transform: scale(1.7); }
  .cb-cursor.-text .cb-cursor-text {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1); }
  .cb-cursor.-text.-active:before {
    -webkit-transform: scale(1.6);
       -moz-transform: scale(1.6);
        -ms-transform: scale(1.6);
         -o-transform: scale(1.6);
            transform: scale(1.6);
    -webkit-transition-duration: 0.2s;
       -moz-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s; }
  .cb-cursor.-opaque:before {
    -webkit-transform: scale(1.32);
       -moz-transform: scale(1.32);
        -ms-transform: scale(1.32);
         -o-transform: scale(1.32);
            transform: scale(1.32); }
  .cb-cursor.-opaque.-active:before {
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2); }
  .cb-cursor.-lg:before {
    -webkit-transform: scale(2);
       -moz-transform: scale(2);
        -ms-transform: scale(2);
         -o-transform: scale(2);
            transform: scale(2); }
  .cb-cursor.-hidden:before {
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
        -ms-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0); }

#cookies-message-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 100000;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: none; }
  @media (min-width: 960px) {
    #cookies-message-container {
      top: 0;
      height: 100vh;
      -webkit-animation: cookie-animation 0.5s forwards;
         -moz-animation: cookie-animation 0.5s forwards;
           -o-animation: cookie-animation 0.5s forwards;
              animation: cookie-animation 0.5s forwards; } }
  #cookies-message-container #cookies-message {
    color: black;
    display: block;
    -webkit-border-radius: 17px;
       -moz-border-radius: 17px;
            border-radius: 17px;
    padding: 2rem;
    background-color: white;
    -webkit-box-shadow: 0px 5px 20px #C6C9DBB4;
       -moz-box-shadow: 0px 5px 20px #C6C9DBB4;
            box-shadow: 0px 5px 20px #C6C9DBB4; }
  #cookies-message-container #cookies-description {
    color: #1C1C24; }
  #cookies-message-container form {
    margin-top: 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #cookies-message-container form #accept-cookies-checkbox,
    #cookies-message-container form #more-cookies-checkbox {
      background-color: #3558AE;
      padding: 1rem 1.6rem;
      -webkit-border-radius: 21px;
         -moz-border-radius: 21px;
              border-radius: 21px;
      color: white;
      font-weight: 400; }
    #cookies-message-container form #more-cookies-checkbox {
      background-color: #AEAEBF;
      margin-left: 1rem; }
  #cookies-message-container #accept-cookies-checkbox:hover {
    opacity: 0.7; }
